# Ignorar ambiente virtual
venv/

# Ignorar arquivos compilados Python
__pycache__/
*.pyc

# Ignorar arquivo de variáveis de ambiente
.txt
.key
.env

# Ignorar pastas temporárias e caches
*.log
*.tmp
