/*DASHBOARD*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f0f8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #032b58;
    padding: 10px 40px;
    color: white;
}

.logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.greeting {
    margin: 30px 50px;
    font-size: 22px;
}

.drop-area {
    margin: 20px 50px;
    padding: 40px;
    background: white;
    border: 2px dashed #aaa;
    border-radius: 10px;
    text-align: center;
}

.recent-documents {
    margin: 40px 50px;
}

.recent-documents h2 {
    margin-bottom: 20px;
}

.document-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px 25px;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 10px #0000000d;
}

.status {
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}

.status.assinado {
    background-color: #28a745;
}

.status.pendente {
    background-color: #ffc107;
}
