<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Atestto Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="register-section">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/Logo.png') }}" style="height: 40px;">
                <span></span>
            </div>

            <div class="form-wrapper">
                <h1>Create Account</h1>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flash-messages">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <form method="POST">
                    <input type="text" name="name" placeholder="Name" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="password" name="confirm_password" placeholder="Confirm password" required>
                    <button type="submit">Sign Up</button>
                </form>
                <p class="login-link">
                    Já tem uma conta? <a href="{{ url_for('auth.login') }}">Faça login</a>
                </p>
            </div>
        </div>

        <div class="image-section">
        </div>
    </div>
</body>
</html>
