<!-- app/templates/register.html -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Atestto Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
    <div class="container">
        <div class="register-section">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/Logo.png') }}" style="height: 40px;">
            </div>

            <div class="form-wrapper">
                <h1>Criar Conta</h1>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flash-messages">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <form id="register-form" method="POST" action="{{ url_for('auth.register') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="text" name="name" placeholder="Nome Completo" required value="{{ name if name is defined else '' }}"> {# Usando 'name' #}
                    <input type="email" id="email" name="email" placeholder="Email" required value="{{ email if email is defined else '' }}">
                    <input type="password" name="password" placeholder="Senha" required>
                    <input type="password" name="confirm_password" placeholder="Confirmar Senha" required>
                    <input type="text" name="cpf" placeholder="CPF (Ex: 123.456.789-00)" required value="{{ cpf if cpf is defined else '' }}">
                    <select name="tipo_assinatura" required>
                        <option value="">Selecione o Tipo de Assinatura</option>
                        <option value="Digital" {% if tipo_assinatura == 'Digital' %}selected{% endif %}>Digital</option>
                        <option value="Eletronica" {% if tipo_assinatura == 'Eletronica' %}selected{% endif %}>Eletrônica</option>
                        <option value="Fisica" {% if tipo_assinatura == 'Fisica' %}selected{% endif %}>Física</option>
                    </select>
                    <button type="submit">Cadastrar</button>
                </form>

                <p class="login-link">
                    Já tem uma conta? <a href="{{ url_for('auth.login') }}">Faça login</a>
                </p>
            </div>
        </div>
        <div class="image-section"></div>
    </div>
</body>
</html>
