<!-- app/templates/reset_password.html -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Atestto - Redefinir Senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
    <div class="container">
        <div class="register-section">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/Logo.png') }}" style="height: 40px;">
            </div>

            <div class="form-wrapper">
                <h1>Redefinir Senha</h1>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flash-messages">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <p>Por favor, defina sua nova senha e confirme seus dados.</p>
                <form method="POST" action="{{ url_for('auth.reset_password', token=token) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="password" name="new_password" placeholder="Nova Senha" required>
                    <input type="password" name="confirm_new_password" placeholder="Confirmar Nova Senha" required>
                    <input type="text" name="cpf" placeholder="Seu CPF" required value="{{ cpf_input if cpf_input is defined else '' }}">
                    <select name="tipo_assinatura" required>
                        <option value="">Selecione o Tipo de Assinatura</option>
                        <option value="Digital" {% if tipo_assinatura_input == 'Digital' %}selected{% endif %}>Digital</option>
                        <option value="Eletronica" {% if tipo_assinatura_input == 'Eletronica' %}selected{% endif %}>Eletrônica</option>
                        <option value="Fisica" {% if tipo_assinatura_input == 'Fisica' %}selected{% endif %}>Física</option>
                    </select>
                    <button type="submit">Redefinir Senha</button>
                </form>
            </div>
        </div>
        <div class="image-section"></div>
    </div>
</body>
</html>
