<!-- templates/reset_password.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">
    <title>Redefinir Senha - Atestto</title>
</head>
<body>
    <h1>Redefinir Senha</h1>
    <form method="POST">
        <input type="password" name="password" placeholder="Nova senha" required>
        <input type="password" name="confirm_password" placeholder="Confirme a nova senha" required>
        <button type="submit">Salvar nova senha</button>
    </form>
</body>
</html>
